.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button{
  height: 50px;
  width: 50px;
}

.iconwrapper.active::before{
  animation: effectTop 1s forwards
}
.active .item.middle{
  animation: middleEffect 1s forwards
}
.iconwrapper.active::after{
transform-origin: center;
  animation: effectBottom 1s forwards;
}

.iconwrapper.inactive::before{
  animation: effectTopInactive 1s forwards
}
.inactive .item.middle{
  animation: middleEffectInactive 1s forwards
}
.iconwrapper.inactive::after{
transform-origin: center;
  animation: effectBottomInactive 1s forwards;
}

.iconwrapper {
  display: flex;
  position: relative;
  height: 100px;
  width: 100px;
}

.item {
  left: 0;
  height: 10%;
  width: 100%;
  position: absolute;
  background-color: black;
  transition: 3s all;
}

.invisible {
  display: none;
}

.iconwrapper::before {
  content:"";
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  position: absolute;
  background-color: black;
  transition: 3s all;
  top: calc(0%);
}

.middle {
  transform: translateY(-50%);
  top: 50%;
}

.iconwrapper::after {
  content:"";
  left: 0;
  height: 10%;
  width: 100%;
  position: absolute;
  background-color: black;
  transition: 3s all;
  top: calc(100% - 10%);
}

@keyframes middleEffect {
  0% {
   opacity: 1;
  }
  40%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes middleEffectInactive {
  0% {
    opacity: 0;
   }
   50%{
     opacity: 0;
   }
   60%{
    opacity: 1;
  }
   100% {
     opacity: 1;
   }
}

@keyframes effectTopInactive {
  0% {
    transform: translateY(45px) rotate(45deg);
  }
  50%{
    transform: translateY(45px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) ;

  }
}

@keyframes effectBottomInactive {
  0% {
    transform: translateY(-45px) rotate(-45deg);
  }
  50%{
    transform: translateY(-45px) rotate(0deg);
  }
  100% {
    transform: translateY(100%) ;

  }
}

@keyframes effectTop {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(45px) rotate(0deg);
  }
  100% {
    transform: translateY(45px) rotate(-45deg);

  }
}

@keyframes effectBottom {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-45px) rotate(0deg);
  }
  100% {
    transform: translateY(-45px) rotate(45deg);

  }
}

